// src/components/products/components/companyinfoSlider.module.scss
@use '../../../scss/abstracts/variables' as *;
@use '../../../scss/abstracts/mixins' as *;
@use '../../../scss/abstracts/placeholders' as *;

.companyinfo-slider {
  position: relative;
  margin: 30px 0 70px;

  &__container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.companyinfo-card {
  background: $color-white;
}