// src/components/companyinfo/companyinfo.module.scss
@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/placeholders' as *;

.companyinfo {
  padding: 90px 0 30px;
  background: $color-gray-200;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title {
    @extend %section-title;
  }

  &__types {
    @include flex(center, center); 
    gap: $gap-xxs;
    flex-wrap: wrap;
    
    @media (max-width: $breakpoint-mobile) {
      gap: $gap-xxs;
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: $gap-xxs;
    }
  }

  &__type {
    padding: 8px 25px;
    border-radius: $border-radius-sm;
    @include font-style(regular, base);
    border: none;
    color: $color-secondary;
    cursor: pointer;
    transition: $transition-slow;
    letter-spacing: 0.5px;

    &--active {
      @include font-style(bold, base);
      background: $color-primary;
      color: $color-white;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    @media (max-width: $breakpoint-tablet) {
      padding: 6px 18px;
      font-size: 14px;
    }
    
    @media (max-width: $breakpoint-mobile) {
      padding: 6px 14px;
      font-size: 12px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    
    @media (max-width: $breakpoint-tablet) {
      margin-top: 50px;
    }
    
    @media (max-width: $breakpoint-mobile) {
      margin-top: 30px;
    }
  }
}

// Адаптивность
@media (max-width: $breakpoint-tablet) {
  .companyinfo {
    padding: 60px 0 30px;

    &__title {
      font-size: 32px;
      margin-bottom: 30px;
    }

    &__types {
      gap: 12px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .companyinfo {
    padding: 40px 0 20px;

    &__title {
      font-size: 28px;
      margin-bottom: 25px;
    }

    &__types {
      gap: 10px;
    }
  }
}