// src/components/main/main.module.scss
@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

// src/scss/abstracts/_placeholders.scss

// Кастомный чекбокс
%custom-checkbox {
    position: relative;
    @include flex($align:center);
    cursor: pointer;
    gap: $gap-xs;
    
    // Скрываем стандартный чекбокс
    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        cursor: pointer;
        
        &:disabled {
            cursor: not-allowed;
        }
    }
    
    // Кастомный квадрат чекбокса
    input + span {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        min-width: 24px; // фиксируем минимальную ширину
        background: $color-gray-300; // $color-gray-300
        border-radius: 4px;
        cursor: pointer;
        flex-shrink: 0;
        transition: all 0.25s ease;
        
        // Галочка (выходит за границы)
        &::after {
            content: '';
            position: absolute;
            left: 65%;
            top: 35%;
            transform: translate(-50%, -50%) scale(0);
            width: 20px;
            height: 21px;
            background-image: url("/public/icons/vector.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            pointer-events: none;
        }
    }
    
    // Состояние checked
    input:checked + span {
        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
    }
    
    // Состояние disabled
    input:disabled + span {
        opacity: 0.5;
        cursor: not-allowed;
    }
    
}

// Текст для чекбокса
%checkbox-text {
    flex: 1;
    margin: 0;
    @include font-style(regular, xs);
    line-height: 120%;
    color: #000000;
    cursor: pointer;
    
    &:hover {
        color: $color-secondary-light;
        transition: $transition-slow;
    }

    a {
        color: $color-secondary-light;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    @media (max-width: 768px) {
        font-size: 12px;
    }
}


// Текст для секции
%section-title {
    color: $color-secondary;
    @include font-style(bold, xl);
    text-align: center;
    margin-bottom: 45px;
}