// src/components/reviews/Reviews.module.scss
@use '../../../../../scss/abstracts/variables' as *;
@use '../../../../../scss/abstracts/mixins' as *;
@use '../../../../../scss/abstracts/placeholders' as *;

.reviews {
  padding: 60px 0;

  &__title {
    @extend %section-title;
    margin-bottom: 40px;
  }
  
  @media (max-width: $breakpoint-tablet) {
    padding: 40px 0;
    
    &__title {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: $breakpoint-mobile) {
    padding: 30px 0;
    
    &__title {
      margin-bottom: 20px;
    }
  }
}