// src/components/contacts/contacts.module.scss
@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/placeholders' as *;

.contacts {
  padding: 60px 0;
  background: $color-gray-200;
  overflow: hidden;

  &__title {
    @extend %section-title;
  }

  &__wrapper {
    @include flex(space-between, top);

  }

  &__info {
    display: grid;
    gap: $gap-xxs;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 20%;
      right: -50%;
      width: 90%;
      height: 100%;
      background-image: url(/public/images/contact-bg.png);
      background-size: cover;
      background-position: center;
      pointer-events: none;
      z-index: 0;
    }
  }

  &__subtitle {
    @include font-style(bold, md);
    color: $color-secondary;
  }

  &__phones, &__address, &__email {
    @include flex($align:center);
    gap: $gap-sm;
  }

  &__phoneItem {
    margin-right: 30px;
  }

  &__phone {
    @include font-style(bold, lg);
    color: $color-black;
    &:hover{
      transition: $transition-slow;
      color: $color-primary;
    }
  }

  &__addressText, &__emailLink {
    @include font-style(regular, md);
    color: $color-black;
    
    &:hover{
      transition: $transition-slow;
      color: $color-primary;
    }
  }

  &__description {
    @include font-style(regular, md);
    color: $color-secondary;
    max-width: 228px;
    margin: 40px 0 10px;
  }

  &__social {
    @include flex($align:center);
    gap: $gap-xs;
  }

  &__socialLink {
    display: inline-flex;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: translateY(-3px);
    }
  }
}